*{
    margin:0%;
    padding:0%;
}
nav{
    background-color: black;
    color:white;
    padding:10px;

}
h1,ul,li{
    display:inline;
}
ul{
    margin-left: 60%;
    color:grey;
}
li:hover{
    color:white;
    cursor: pointer;
}
.two{
    text-align: center;
    padding: 20px;
}
input{
    width: 60%;
    padding: 10px;
}
.box{
    height: 260px;
    width: 220px;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding:5px;
    margin: 5px;
    display:inline-block;
    text-align: center;

}
.three{
    text-align: center;
}
.box:hover{
    color:grey;
    cursor: pointer;
}
.four{
    padding-top: 20px;
    padding-bottom: 20px;
}
.five{
    text-align: center;
    background-color: black;
    color: aliceblue;
}
.v{
    padding: 20px;
}