*{
    margin:0%;
    padding:0%;
}
nav{
    background-color: black;
    color:white;
    padding:10px;

}
h1,ul,li{
    display:inline;
}
ul{
    margin-left: 60%;
    color:grey;
}
li:hover{
    color:white;
    cursor: pointer;
}
.two{
    text-align: center;
    padding: 20px;
}
input{
    width: 60%;
    padding: 10px;
}